<div id="page-companies">
  <!--Barra de navegacion-->
  <app-header></app-header>
  <!---->
  <main class="container-fluid">
    <div class="box">
      <app-common-logo></app-common-logo>
      <section>
        <h2 class="text-center text-sm-left mb-3"><b>Empresas</b></h2>
        <p class="custom-gray mb-5">
          Mira lo que ofrecen las empresas registradas, donde puedes encontrar productos de tu interes y ¡tomar
          ejemplo de como formar tu negocio!
        </p>
        <div class="text-center mb-5">
          <input type="search" class="form-control input-search mr-1" placeholder="Buscar...">
          <button class="btn btn-search"><i class="fas fa-search"></i></button>
        </div>
        <app-lista-empresas></app-lista-empresas>
      </section>
      <div class="div-pagination mb-5">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </main>
  <!--Pie de Página-->
  <app-footer></app-footer>
  <!---->
</div>
