<div class="page-login bg-custom-sign pt-5">
  <!--Barra de navegacion-->
  <app-header></app-header>
  <!---->
  <main class="container-fluid">
    <div id="seccion-login" class="box-sign mb-5">
      <div class="text-center mb-4"><img class="img-fluid" src="../img/Logotipo/ComLign_Slogan.png" alt=""></div>
      <h1 class="text-center custom-primaryBlue mb-3"><b>Inicio de Sesión</b></h1>
      <div class="text-center mb-3"><i class="fas fa-building custom-primaryBlue font-s-5"></i></div>
      <div class="label-input mb-3">
        <label class="label-form custom-primaryBlue pl-2" for="login-email"><b>Email</b></label>
        <input type="email" id="login-email" class="form-control input-sign px-3" placeholder="Email">
      </div>
      <div class="label-input mb-3">
        <label class="label-form custom-primaryBlue pl-2" for="login-password"><b>Password</b></label>
        <input type="password" id="login-password" class="form-control input-sign px-3" placeholder="Password">
      </div>
      <div class="label-input mb-5">
        <label class="label-form custom-primaryBlue pl-2" for="login-companyName"><b>Empresa</b></label>
        <input type="text" id="login-companyName" class="form-control input-sign px-3" placeholder="Nombre de Empresa">
      </div>
      <div class="text-center mb-3"><button type="button" class="btn btn-primary" onclick="redireccion()">Iniciar
          Sesión</button></div>
      <div class="text-center mb-4">
        <span class="custom-gray">Eres nuevo en ComLign?</span>
        <a class="link-sugerencia custom-mediumBlue2 ml-2" href="registrar.html">Registrate ahora!</a>
      </div>
    </div>
  </main>
  <!--Pie de Página-->
  <app-footer></app-footer>
  <!---->
</div>
