<footer class="bg-custom-footer">
  <section class="container-fluid">
    <div class="row px-5 mb-2">
      <div class="col-12 col-sm-6 col-lg-3 mb-2 d-none d-lg-block text-center">
        <img src="../../../assets/images/logotipo/Icon_White.png" class="img-fluid footer-brand">
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mb-2">
        <ul class="text-center">
          <li><a class="footer-custom-link" [routerLink]="'/contact'">Contacto</a></li>
          <li><a class="footer-custom-link" [routerLink]="'/help'">Centro de Ayuda</a></li>
          <li><a class="footer-custom-link" href="#">Terminos y Condiciones</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mb-2">
        <ul class="text-center">
          <li><a class="footer-custom-link" href="#">Acerca de</a></li>
          <li><a class="footer-custom-link" href="#">Privacidad</a></li>
          <li><a class="footer-custom-link" href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mb-2">
        <ul class="text-center">
          <li>Síguenos</li>
          <li>
            <a class="footer-custom-link mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="footer-custom-link mr-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="footer-custom-link" href="#"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center text-white">Copyright &copy;
        {{anio}}
    </div>
  </section>
</footer>
