<div id="page-payPlan" class="bg-custom-dark pt-5" *ngIf="planSeleccionado != null">
  <!--Barra de navegacion-->
  <app-header></app-header>
  <!---->
  <main class="container-fluid">
    <div id="seccion-pagoPlan" class="box mb-5">
      <app-common-logo-dark></app-common-logo-dark>
      <h1 class="text-center text-white mb-3"><b>Opciones de Pago</b></h1>
      <div class="text-center mb-3"><i class="fas fa-shopping-cart text-white font-s-5"></i></div>
      <div class="label-input mb-3">
        <label class="label-form text-white pl-2" for="metodo-pago"><b>Método de pago</b></label>
        <select id="metodo-pago" class="custom-select" disabled>
          <option value="tarjeta">Tarjeta de crédito o débito</option>
        </select>
      </div>
      <div class="label-input mb-3">
        <label class="label-form text-white pl-2" for="tipoPlan"><b>Tipo de Plan</b></label>
        <input type="text" id="tipoPlan" class="form-control input-sign px-3" value="{{planSeleccionado.nombrePlan}}"
          disabled>
      </div>
      <div class="label-input mb-3">
        <label class="label-form text-white pl-2" for="precioPlan"><b>Precio</b></label>
        <input type="text" id="precioPlan" class="form-control input-sign px-3" value="${{planSeleccionado.precio}}"
          disabled>
      </div>
      <form [formGroup]="formularioPlan">
        <div class="label-input mb-3">
          <label class="label-form text-white pl-2" for="nombreTarjeta"><b>Nombre en tarjeta</b></label>
          <input [ngClass]="{'form-input-error':nombreTarjeta.invalid && (nombreTarjeta.touched)}" type="text"
            formControlName="nombreTarjeta" class="form-control input-sign px-3" placeholder="Nombre en tarjeta">
          <div *ngIf="nombreTarjeta.invalid && (nombreTarjeta.touched)" class="form-error">
            <span *ngIf="nombreTarjeta.errors.required">Error el campo es obligatorio</span>
          </div>
        </div>
        <div class="label-input mb-3">
          <label class="label-form text-white pl-2" for="numeroTarjeta"><b>Número de la tarjeta</b></label>
          <input [ngClass]="{'form-input-error':numeroTarjeta.invalid && (numeroTarjeta.touched)}" type="text"
            formControlName="numeroTarjeta" class="form-control input-sign px-3" placeholder="Número de la tarjeta">
          <div *ngIf="numeroTarjeta.invalid && (numeroTarjeta.touched)" class="form-error">
            <span *ngIf="numeroTarjeta.errors.required">Error el campo es obligatorio</span>
          </div>
        </div>
        <div class="label-input mb-5">
          <label class="label-form text-white pl-2" for="fechaVencimiento"><b>Fecha de vencimiento</b></label><br>
          <div id="fechaVencimiento">
            <select [ngClass]="{'form-input-error':mesVencimiento.invalid && (mesVencimiento.touched)}"
              class="custom-select mr-3" formControlName="mesVencimiento">
              <option *ngFor="let mes of meses" value="{{mes}}">{{mes}}</option>
            </select>
            <select [ngClass]="{'form-input-error':anioVencimiento.invalid && (anioVencimiento.touched)}"
              class="custom-select" formControlName="anioVencimiento">
              <option *ngFor="let anio of anios" value={{anio}}>{{anio}}</option>
            </select>
            <div
              *ngIf="(mesVencimiento.invalid && (mesVencimiento.touched)) || (anioVencimiento.invalid && (anioVencimiento.touched))"
              class="form-error">
              <span *ngIf="mesVencimiento.errors.required || anioVencimiento.errors.required">Error el campo es
                obligatorio</span>
            </div>
          </div>
        </div>
        <div class="text-center mb-4"><button [disabled]="!formularioPlan.valid" type="button"
            class="btn btn-outline-primary" (click)="comprarPlan()">Comprar Plan</button></div>
        <div class="text-center"><a class="link-sugerencia custom-white" [routerLink]="'/plans'">Volver a Selección de
            Plan</a>
        </div>
      </form>
    </div>
  </main>
  <!--Pie de Página-->
  <app-footer></app-footer>
  <!---->
</div>
