/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NavBar*/
.bg-custom-nav {
  background-color: #EEFBFF;
}

nav .navbar-brand img {
  width: 160px;
  height: auto;
  vertical-align: middle;
}

.nav-item .nav-custom-link,
nav .dropdown-menu .dropdown-item {
  font-size: 20px;
  font-weight: bold;
  color: #167C82;
}

.nav-item .nav-custom-link:hover,
.footer-custom-link:hover,
.link-container:hover,
.link-decoration:hover {
  text-decoration: none;
}

.navbar-light .custom-toggler {
  border-color: #167c82;
}

.navbar-light .navbar-toggler:focus {
  box-shadow: 0px 0px 5px inset#167c82;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13, 161, 172, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav .dropdown {
  cursor: pointer;
}

nav .dropdown-menu {
  border: 1px solid rgb(101, 226, 224, 0.5);
  border-radius: 30px;
}

nav .dropdown-menu .dropdown-item {
  width: 200px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  border-radius: 50px;
}

nav .dropdown-menu .dropdown-item:active {
  background-color: #dadee4;
}

/**/
/*Footer*/
.bg-custom-footer {
  background-color: #0C7C8C;
}

footer section {
  padding: 20px 0px;
  color: #FFF;
}

footer .footer-brand {
  width: 100px;
  height: auto;
}

footer ul>li {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
}

.footer-custom-link {
  color: #FFF;
}

/**/
body {
  padding-top: 4rem;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

#landing-page .box,
#page-companies .box {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#page-plans .box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
.nav-item .nav-custom-link:hover,
nav .dropdown-menu .dropdown-item:hover,
.link-mirar:hover,
.link-plan:hover,
.link-sugerencia:hover,
.footer-custom-link:hover,
.link-hover:hover {
  color: #0BD3DF;
}

.active-link,
.color-heading {
  color: #0BD3DF !important;
}

#page-contact h2 {
  color: #212529;
}

/*Colores custom*/
.custom-lightBlue {
  color: #64e1df;
}

.custom-mediumBlue1 {
  color: #54c6cc;
}

.custom-mediumBlue2 {
  color: #33b3ba;
}

.custom-primaryBlue {
  color: #167C82;
}

.custom-boldBlue {
  color: #1c7695;
}

.custom-gray {
  color: #9BA3A4 !important;
}

.custom-white {
  color: #FFF;
}

.bg-custom-sign {
  background-color: #BCF3F6;
}

.bg-color-logo {
  background-color: #31B4BB;
}

.bg-black {
  background-color: #000;
}

/*Planes*/
.bg-custom-dark {
  background-color: #003046;
}

.bg-custom-blue {
  background-color: #15ADCC;
}

.bg-custom-green {
  background-color: #33EEC1;
}

/**/
/*Font Size*/
.font-s-2 {
  font-size: 2rem;
}

.font-s-3 {
  font-size: 3rem;
}

.font-s-4 {
  font-size: 4rem;
}

.font-s-5 {
  font-size: 5rem;
}

/**/
.btn-primary {
  color: #FFF !important;
  background-color: #1c7695 !important;
  border-color: #1c7695 !important;
  font-weight: bold;
  min-width: 200px;
  padding: 10px 30px;
  border-radius: 15px;
}

.btn-outline-primary {
  color: #33b3ba !important;
  background-color: #FFF !important;
  border: 3px solid #33b3ba !important;
  font-weight: bold;
  min-width: 200px;
  padding: 10px 30px;
  border-radius: 15px;
}

.btn-primary:hover,
.btn-search:hover,
.btn-outline-primary:hover {
  color: #FFF !important;
  background-color: #33b3ba !important;
  border-color: #33b3ba !important;
  box-shadow: 0px 0px 5px inset#ffffff;
}

.btn-primary:active,
.btn-primary:focus,
.btn-search:active,
.btn-search:focus,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  box-shadow: 0px 0px 15px inset #43f1fa;
}

#landing-page p,
#page-companies p {
  font-size: 20px;
  text-align: justify;
}

#landing-page hr,
.dropdown-divider {
  border-top: 1px solid rgb(101, 226, 224, 0.5);
}

.link-mirar,
#page-companies .card-text,
.link-plan,
.link-sugerencia {
  font-size: 16px;
}

.filter-opacity:hover {
  filter: opacity(.8);
}


#page-signin .box-sign,
.page-login .box-sign,
#page-contact .box {
  width: 750px;
  max-width: 100%;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
}

.label-input {
  width: 500px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.input-sign {
  max-height: 2.5rem;
  font-weight: 500;
  border-radius: 10px;
}

#page-signin .custom-textarea {
  border-radius: 10px;
}

.input-sign:focus,
.custom-textarea:focus,
#page-companies .form-control.input-search:focus {
  border-color: #64e1df;
  box-shadow: 0 0 0 0.2rem rgba(100, 225, 223, .25);
}

#page-contact .input-sign {
  border-radius: 0px;
}

.input-sign,
.label-form,
.custom-select {
  font-size: 18px;
}

.input-sign::placeholder,
.input-sign::-ms-input-placeholder,
.input-sign:-ms-input-placeholder,
#page-companies .form-control.input-search::placeholder,
#page-companies .form-control.input-search::-ms-input-placeholder,
#page-companies .form-control.input-search:-ms-input-placeholder {
  color: #C1D1D2;
}

.custom-select {
  background-color: #fff;
  color: #585c5c;
  padding: 7px 15px;
  text-align: center;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#page-signin .btn-primary,
#page-contact .btn-primary,
.page-login .btn-primary,
.page-login .btn-outline-primary,
#page-payPlan .btn-outline-primary {
  width: 45%;
}

.div-link-box {
  width: 500px;
  max-width: 90%;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid #9BA3A4;
}

.div-link-box:hover {
  background-color: #32B1BB;
  border: 1px solid #FFF;
  box-shadow: 0px 0px 8px inset #FFF;
  transition: all 0.5s ease-in-out;
}

.div-link-box:hover .custom-lightBlue,
.div-link-box:hover .custom-boldBlue,
.div-link-box:hover .custom-gray {
  color: #FFF !important;
}

.visible {
  display: block;
}

.no-visible {
  display: none;
}

/*#div-inputNombreEmpresa,
#div-inputInfoEmpresa,
#div-inputAdmin {
    display: block;
}*/

#page-companies .form-control.input-search {
  display: inline-block;
  width: 500px;
  max-width: 70%;
  max-height: 2.5rem;
  font-weight: 500;
  border-radius: 5px;
}

.btn-search {
  color: #FFF !important;
  background-color: #1c7695 !important;
  border-color: #1c7695 !important;
  font-weight: bold;
  padding: 7px 20px;
  border-radius: 10px;
}

#page-companies div.card {
  background-color: #33b3ba;
  padding: 10px;
  color: #f1ebe1;
  border: 1px solid #FFF;
}

#page-companies div.card:hover {
  box-shadow: 0px 0px 15px inset#ffffff;
}

#page-companies div.card-body {
  padding: 10px 3px;
}

.card-title {
  font-weight: bold;
}

.div-visitar {
  position: relative;
  cursor: pointer;
}

.div-visitar:hover .visitar {
  display: block;
}

span.visitar {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 40px;
  display: none;
}

/*Paginacion*/
.companies-pagination /deep/ .pagination-previous,
.companies-pagination /deep/ .pagination-previous:focus,
.companies-pagination /deep/ .pagination-next,
.companies-pagination /deep/ .pagination-next:focus {
  background-color: #fcffff;
  border: 1px solid #28c2ca;
  color: #22aca9;
}

.companies-pagination /deep/ .pagination-previous.disabled,
.companies-pagination /deep/ .pagination-previous.disabled:focus,
.companies-pagination /deep/ .pagination-next.disabled,
.companies-pagination /deep/ .pagination-next.disabled:focus {
  background-color: #fcffff;
  border: 1px solid #807e7e;
  color: #807e7e;
}

.companies-pagination /deep/ .ngx-pagination li {
  background-color: #fcffff;
  border: 1px solid #28b5bd;
  color: #28b5bd;
}

.companies-pagination /deep/ .ngx-pagination .current {
  background-color: #30dce6;
  border: 1px solid #2ab2b9;
  color: #fcffff;
}

/**/

.page-link {
  /*color: #1c7695;*/
  color: #33b3ba;
  font-weight: bold;
}

.page-link:hover {
  background-color: #64e1df;
  color: #FFF;
  border: 1px solid #FFF;
}

/**/
#page-plans #plan-empresarial.card {
  border: 1px solid #15ADCC;
}

#page-plans #plan-premium.card {
  border: 1px solid #33EEC1;
}

#page-plans .card-title {
  padding: 10px;
  color: #FFF;
}

#page-plans .card-body li {
  font-size: 20px;
}



.btn-plan {
  color: #FFF;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
}

.btn-blue {
  background-color: #15ADCC;
  border-color: #15ADCC;
}

.btn-green {
  background-color: #33EEC1;
  border-color: #33EEC1;
}

.btn-success {
  color: #FFF !important;
  background-color: #2cd052 !important;
  border-color: #2cd052 !important;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
}

.btn-plan:hover {
  color: #FFF;
  box-shadow: 0px 0px 5px inset#ffffff;
  text-decoration: none;
}

.btn-success:hover {
  background-color: #2eff5f !important;
  border-color: #2eff5f !important;
  box-shadow: 0px 0px 5px inset#ffffff;
}

.btn-plan:active,
.btn-plan:focus,
.btn-success:active,
.btn-success:focus,
.btn-toggle:active,
.btn-toggle:focus {
  box-shadow: 0px 0px 15px inset#ffffff;
}

.link-plan {
  color: #1ad3f8;
}

#page-payPlan .box,
.page-login .box-admin {
  width: 750px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
}

#page-payPlan #fechaVencimiento .custom-select {
  width: 30%;
  min-width: 100px;
}

/*Pagina de inicio Empresa*/
.bg-custom-nav-dark {
  background-color: #1C7695;
}

#page-designCompany nav .navbar-brand .nav-logo {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

#page-designCompany nav i.fa-search {
  position: absolute;
  left: 0;
  padding: 11px 15px;
  color: #1C7695;
}

#page-designCompany .input-search {
  padding: 20px 10px 20px 50px;
  border-radius: 5px;
  color: #1C7695;
  font-weight: 500;
}

#page-designCompany .input-search::placeholder {
  color: #1C7695;
}

#page-designCompany .nav-item .nav-custom-link {
  color: #FFF;
}

.img-perfil {
  width: 35px;
  height: auto;
  vertical-align: middle;
  border-radius: 50%;
}

#page-designCompany .img-perfil {
  width: 50px;
}

#page-designCompany nav .dropdown-menu .dropdown-item {
  width: 250px;
  max-width: 100%;
}

.navbar-dark .custom-toggler {
  border-color: #64e1df;
}

.navbar-dark .navbar-toggler:focus {
  box-shadow: 0px 0px 10px inset#64e1df;
}

#page-designCompany .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33, 229, 239, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#page-designCompany .btn-toggle {
  min-width: 10px;
  color: #FFF !important;
  background-color: #80f1f7 !important;
  border-color: #80f1f7 !important;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 10px;
}

#page-designCompany .btn-toggle:hover {
  color: #FFF;
  background-color: #b9f0f3;
  border-color: #b9f0f3;
  box-shadow: 0px 0px 5px inset#ffffff;
  text-decoration: none
}

#page-designCompany .box {
  width: 950px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.div-reminderPlan {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  color: #FFF;
  padding: 20px;
}

#page-designCompany .div-reminderPlan .btn-outline-primary {
  min-width: 180px;
}

#page-designCompany h1,
#page-designCompany h2 {
  color: #000;
}

pre {
  background-color: #0f0f0f;
  color: #FFF;
  padding: 10px;
}

/*Formularios reactivos*/
.form-error {
  color: #CD0052;
  margin: 5px;
  margin-top: 0px;
  font-size: .8rem;
}

.form-input-error {
  border-color: #DD0000;
}

.input-sign.form-input-error:focus,
.custom-textarea.form-input-error:focus {
  outline: 0px;
  border-color: #DD0000;
  box-shadow: 0 0 0 0.2rem rgba(221, 0, 0, .25);
}

/**/
/***Extra small devices (portrait phones, less than 576px)***/
@media (max-width: 575.98px) {

  #landing-page .box,
  #page-companies .box,
  #page-plans .box {
    width: 100%;
  }

  #landing-page p {
    text-align: center;
  }

  /*Width*/
  .w-xs-100 {
    width: 100%;
  }

  .w-xs-75 {
    width: 75%;
  }

  .w-xs-50 {
    width: 50%;
  }

}

/***Small devices (landscape phones, 576px and up)***/
@media (min-width: 576px) and (max-width: 767.98px) {}

/***Medium devices (tablets, 768px and up)***/
@media (min-width: 768px) and (max-width: 991.98px) {}

/***Large devices (desktops, 992px and up)***/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/***Extra large devices (large desktops, 1200px and up)***/
@media (min-width: 1200px) {

  /*Width*/
  .w-xl-100 {
    width: 100%;
  }

  .w-xl-75 {
    width: 75%;
  }

  .w-xl-50 {
    width: 50%;
  }
}

/*Width*/
@media (min-width: 576px) {
  .w-sm-100 {
    width: 100%;
  }

  .w-sm-75 {
    width: 75%;
  }

  .w-sm-50 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .w-md-100 {
    width: 100%;
  }

  .w-md-75 {
    width: 75%;
  }

  .w-md-50 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100%;
  }

  .w-lg-75 {
    width: 75%;
  }

  .w-lg-50 {
    width: 50%;
  }

}

/*Hoverable dropdown menu*/
@media all and (min-width: 992px) {
  .nav-main .nav-item .dropdown-menu {
    display: none;
  }

  .nav-main .nav-item:hover .dropdown-menu {
    display: block;
  }

  .nav-main .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
