<div id="page-plans" class="bg-custom-dark pt-5">
  <!--Barra de navegacion-->
  <app-header></app-header>
  <!---->
  <main class="container-fluid">
    <div class="box mb-5">
      <app-common-logo-dark></app-common-logo-dark>
      <div class="text-center my-5">
        <h1 class="text-white">Planes</h1>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 d-flex mb-5">
          <div id="plan-empresarial" class="card flex-fill w-100">
            <div class="text-center card-title bg-custom-blue">
              <h2 class="text-white mb-0">Empresarial</h2>
            </div>
            <div class="text-center card-body">
              <ul>
                <li class="mb-3">Herramienta de edicion Syntax Highlighting</li>
                <li class="mb-3">Acceso al 50% de plantillas y temas</li>
                <li class="mb-5">Limite máximo de 5 productos subidos por semana</li>
                <li class="mb-2"><button type="button" class="btn btn-empresarial">Seleccionar</button>
                </li>
                <li class="mb-1"><b>$1.99</b></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex mb-5">
          <div id="plan-premium" class="card flex-fill w-100">
            <div class="text-center card-title bg-custom-green">
              <h2 class="text-white mb-0">Premium</h2>
            </div>
            <div class="text-center card-body">
              <ul>
                <li class="mb-3">Herramienta de edicion Syntax Highlighting</li>
                <li class="mb-3">Acceso a todas las plantillas y temas</li>
                <li class="mb-5">Sin limites para subida de productos</li>
                <li class="mb-2"><button type="button" class="btn btn-premium">Seleccionar</button></li>
                <li class="mb-3"><b>$5.99</b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </main>
  <!--Pie de Página-->
  <app-footer></app-footer>
  <!---->
</div>
