<div class="row">
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex mb-5">
    <div class="card flex-fill">
      <a href="#">
        <div class="div-visitar">
          <img class="card-img-top img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-1.jpg"
            alt="Card image">
          <span class="visitar custom-lightBlue">Visitar</span>
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">Empresa 1</h5>
        <p class="card-text mb-2">Lorem ipsum, dolor sit amet consectetur
          adipisicing
          elit. Harum molestiae tenetur necessitatibus totam praesentium sunt consectetur
          obcaecati voluptatem nulla fugiat!</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex mb-5">
    <div class="card flex-fill">
      <a href="#">
        <div class="div-visitar">
          <img class="card-img-top img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-1.jpg"
            alt="Card image">
          <span class="visitar custom-lightBlue">Visitar</span>
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">Empresa 1</h5>
        <p class="card-text mb-2">Lorem ipsum, dolor sit amet consectetur
          adipisicing
          elit. Harum molestiae tenetur necessitatibus totam praesentium sunt consectetur
          obcaecati voluptatem nulla fugiat!</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex mb-5">
    <div class="card flex-fill">
      <a href="#">
        <div class="div-visitar">
          <img class="card-img-top img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-1.jpg"
            alt="Card image">
          <span class="visitar custom-lightBlue">Visitar</span>
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">Empresa 1</h5>
        <p class="card-text mb-2">Lorem ipsum, dolor sit amet consectetur
          adipisicing
          elit. Harum molestiae tenetur necessitatibus totam praesentium sunt consectetur
          obcaecati voluptatem nulla fugiat!</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex mb-5">
    <div class="card flex-fill">
      <a href="#">
        <div class="div-visitar">
          <img class="card-img-top img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-2.jpg"
            alt="Card image">
          <span class="visitar custom-lightBlue">Visitar</span>
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">Empresa 2</h5>
        <p class="card-text mb-2">Lorem ipsum, dolor sit amet consectetur
          adipisicing
          elit. Harum molestiae tenetur necessitatibus totam praesentium sunt consectetur
          obcaecati voluptatem nulla fugiat!</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex mb-5">
    <div class="card flex-fill">
      <a href="#">
        <div class="div-visitar">
          <img class="card-img-top img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-2.jpg"
            alt="Card image">
          <span class="visitar custom-lightBlue">Visitar</span>
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">Empresa 2</h5>
        <p class="card-text mb-2">Lorem ipsum, dolor sit amet consectetur
          adipisicing
          elit. Harum molestiae tenetur necessitatibus totam praesentium sunt consectetur
          obcaecati voluptatem nulla fugiat!</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex mb-5">
    <div class="card flex-fill">
      <a href="#">
        <div class="div-visitar">
          <img class="card-img-top img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-2.jpg"
            alt="Card image">
          <span class="visitar custom-lightBlue">Visitar</span>
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">Empresa 2</h5>
        <p class="card-text mb-2">Lorem ipsum, dolor sit amet consectetur
          adipisicing
          elit. Harum molestiae tenetur necessitatibus totam praesentium sunt consectetur
          obcaecati voluptatem nulla fugiat!</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex mb-5">
    <div class="card flex-fill">
      <a href="#">
        <div class="div-visitar">
          <img class="card-img-top img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-3.jpg"
            alt="Card image">
          <span class="visitar custom-lightBlue">Visitar</span>
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">Empresa 3</h5>
        <p class="card-text mb-2">Lorem ipsum, dolor sit amet consectetur
          adipisicing
          elit. Harum molestiae tenetur necessitatibus totam praesentium sunt consectetur
          obcaecati voluptatem nulla fugiat!</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex mb-5">
    <div class="card flex-fill">
      <a href="#">
        <div class="div-visitar">
          <img class="card-img-top img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-3.jpg"
            alt="Card image">
          <span class="visitar custom-lightBlue">Visitar</span>
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">Empresa 3</h5>
        <p class="card-text mb-2">Lorem ipsum, dolor sit amet consectetur
          adipisicing
          elit. Harum molestiae tenetur necessitatibus totam praesentium sunt consectetur
          obcaecati voluptatem nulla fugiat!</p>
      </div>
    </div>
  </div>
</div>
