<div id="page-contact">
  <!--Barra de navegacion-->
  <app-header></app-header>
  <!---->
  <main class="container-fluid">
    <div class="text-center mt-5">
      <img class="img-fluid" src="../../../assets/images/logotipo/ComLign_Slogan.png" alt="">
    </div>
    <section id="seccion-contact" class="box">
      <h2 class="text-center mb-4"><b>Formulario de Contacto</b></h2>
      <div class="label-input mb-3">
        <label class="label-form custom-primaryBlue pl-2" for="contact-email"><b>Correo Electrónico</b></label>
        <input type="email" id="contact-email" class="form-control input-sign px-3">
      </div>
      <div class="label-input mb-3">
        <label class="label-form custom-primaryBlue pl-2" for="contact-asunto"><b>Asunto</b></label>
        <input type="email" id="contact-asunto" class="form-control input-sign px-3">
      </div>
      <div class="label-input mb-5">
        <label class="label-form custom-primaryBlue pl-2" for="contact-mensaje"><b>Mensaje</b></label>
        <textarea id="contact-mensaje" rows="10" class="form-control custom-textarea"></textarea>
      </div>
      <div class="text-center mb-3"><button type="button" class="btn btn-primary">Enviar</button></div>
    </section>
    <section>
      <p></p>
    </section>
  </main>
  <!--Pie de Página-->
  <app-footer></app-footer>
  <!---->
</div>
