<div id="page-signin" class="bg-custom-sign pt-5">
  <!--Barra de navegacion-->
  <app-header></app-header>
  <!---->
  <main class="container-fluid">
    <div id="seccion-registro" class="box-sign mb-5">
      <app-common-logo></app-common-logo>
      <h1 class="text-center custom-primaryBlue mb-3"><b>Registro</b></h1>
      <form [formGroup]="formularioAuxiliar">
        <div class="label-input mb-3">
          <label class="label-form custom-primaryBlue pl-2" for="tipoUsuario"><b>Tipo Usuario</b></label>
          <select [ngClass]="{'form-input-error':tipoUsuario.invalid && (tipoUsuario.touched)}"
            (change)="cambiarTipoUsuario($event.target.value)" formControlName="tipoUsuario" class="custom-select"
            required>
            <option>Cliente</option>
            <option>Empresa</option>
          </select>
          <div *ngIf="tipoUsuario.invalid && (tipoUsuario.touched)" class="form-error">
            <span *ngIf="tipoUsuario.errors.required">Seleccione el tipo de usuario por favor</span>
          </div>
        </div>
      </form>
      <form [formGroup]="formularioRegistro">
        <div class="label-input mb-3">
          <label class="label-form custom-primaryBlue pl-2" for="nombre"><b>Nombre</b></label>
          <input [ngClass]="{'form-input-error':nombre.invalid && (nombre.dirty || nombre.touched)}"
            formControlName="nombre" type="text" class="form-control input-sign px-3" placeholder="Nombre" required>
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="form-error">
            <span *ngIf="nombre.errors.required">Error el campo es obligatorio</span>
            <span *ngIf="nombre.errors.maxlength">Error el tamaño maximo es de 10 caracteres</span>
          </div>
        </div>
        <div class="label-input mb-3">
          <label class="label-form custom-primaryBlue pl-2" for="apellido"><b>Apellido</b></label>
          <input [ngClass]="{'form-input-error':apellido.invalid && (apellido.dirty || apellido.touched)}"
            formControlName="apellido" type="text" class="form-control input-sign px-3" placeholder="Apellido" required>
          <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="form-error">
            <span *ngIf="apellido.errors.required">Error el campo es obligatorio</span>
            <span *ngIf="apellido.errors.maxlength">Error el tamaño maximo es de 10 caracteres</span>
          </div>
        </div>
        <div class="label-input mb-3">
          <label class="label-form custom-primaryBlue pl-2" for="email"><b>Email</b></label>
          <input [ngClass]="{'form-input-error':email.invalid && (email.dirty || email.touched)}"
            formControlName="email" type="email" class="form-control input-sign px-3" placeholder="Email" required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-error">
            <span *ngIf="email.errors.required">Error el campo es obligatorio</span>
          </div>
        </div>
        <div id="div-inputNombreEmpresa" class="label-input mb-3"
          [ngClass]="{'visible':tipoUsuarioSeleccionado == 'Empresa', 'no-visible':tipoUsuarioSeleccionado != 'Empresa'}">
          <label class="label-form custom-primaryBlue pl-2" for="nombreEmpresa"><b>Empresa</b></label>
          <input
            [ngClass]="{'form-input-error':nombreEmpresa.invalid && (nombreEmpresa.dirty || nombreEmpresa.touched)}"
            formControlName="nombreEmpresa" type="text" class="form-control input-sign px-3"
            placeholder="Nombre Empresa">
          <div *ngIf="nombreEmpresa.invalid && (nombreEmpresa.dirty || nombreEmpresa.touched)" class="form-error">
            <span *ngIf="nombreEmpresa.errors.required">Error el campo es obligatorio</span>
            <span *ngIf="nombreEmpresa.errors.maxlength">Error el tamaño maximo es de 20 caracteres</span>
          </div>
        </div>
        <div id="div-inputInfoEmpresa" class="label-input mb-3"
          [ngClass]="{'visible':tipoUsuarioSeleccionado == 'Empresa', 'no-visible':tipoUsuarioSeleccionado != 'Empresa'}">
          <label class="label-form custom-primaryBlue pl-2" for="descripcionEmpresa"><b>Descripción
              Empresa</b></label>
          <textarea
            [ngClass]="{'form-input-error':descripcionEmpresa.invalid && (descripcionEmpresa.dirty || descripcionEmpresa.touched)}"
            formControlName="descripcionEmpresa" class="form-control custom-textarea px-3"
            placeholder="Descripción sobre la Empresa" cols="30" rows="5" maxlength="500"></textarea>
          <div *ngIf="descripcionEmpresa.invalid && (descripcionEmpresa.dirty || descripcionEmpresa.touched)"
            class="form-error">
            <span *ngIf="descripcionEmpresa.errors.required">Error el campo es obligatorio</span>
          </div>
        </div>
        <div class="label-input mb-5">
          <label class="label-form custom-primaryBlue pl-2" for="password"><b>Password</b></label>
          <input [ngClass]="{'form-input-error':password.invalid && (password.dirty || password.touched)}"
            formControlName="password" #inputPassword type="password" class="form-control input-sign pl-3 pr-5"
            placeholder="Password" required>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-error">
            <span *ngIf="password.errors.required">Error el campo es obligatorio</span>
            <span *ngIf="password.errors.minlength">La contraseña debe tener como minimo 8 caracteres</span>
          </div>
          <div class="custom-gray pt-1 pl-2"><input type="checkbox" class="mr-2"
              (click)="cambiarInput(inputPassword)"><b>Mostrar Password</b></div>
        </div>
        <div class="text-center mb-5"><button [disabled]="!formularioAuxiliar.valid || !formularioRegistro.valid"
            type="button" class="btn btn-primary" (click)="enviarFormularioRegistro()">Registrar</button></div>
      </form>
    </div>
  </main>
  <!--Pie de Página-->
  <app-footer></app-footer>
  <!---->
</div>
