* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NavBar*/
.bg-custom-nav {
    background-color: #EEFBFF;
}

nav .navbar-brand img {
    width: 160px;
    height: auto;
}

.nav-item .nav-custom-link,nav .dropdown-menu .dropdown-item {
    font-size: 20px;
    font-weight: bold;
    color: #167C82;
}

.nav-item .nav-custom-link:hover,
.link-mirar:hover,
.footer-custom-link:hover,
.link-container:hover {
    text-decoration: none;
}

.navbar-light .custom-toggler {
    border-color: #167c82;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: 0px 0px 5px inset#167c82;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13, 161, 172, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


nav .dropdown-menu {
    border:1px solid rgb(101, 226, 224, 0.5);
    border-radius: 30px;
}
nav .dropdown-menu .dropdown-item {
    width: 200px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
}
nav .dropdown-menu .dropdown-item:active{
    background-color:  #dadee4;
}
/**/
/*Footer*/
.bg-custom-footer {
    background-color: #18888F;
}

footer section {
    padding: 20px 0px;
    color: #FFF;
}

footer .footer-brand {
    width: 100px;
    height: auto;
}

footer ul>li {
    list-style: none;
    font-size: 18px;
    line-height: 30px;
}

.footer-custom-link {
    color: #FFF;
}

/**/
body {
    padding-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}
#landing-page .box {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#landing-page h1,
#landing-page h2,
.nav-item .nav-custom-link:hover,
nav .dropdown-menu .dropdown-item:hover,
.link-mirar:hover,
.footer-custom-link:hover {
    color: #0BD3DF;
}

/*Colores custom*/
.custom-lightBlue {
    color: #64e1df;
}

.custom-mediumBlue1 {
    color: #54c6cc;
}

.custom-mediumBlue2 {
    color: #33b3ba;
}

.custom-primaryBlue {
    color: #167C82;
}

.custom-boldBlue {
    color: #1c7695;
}

.custom-gray {
    color: #9BA3A4 !important;
}

.bg-custom-sign {
    background-color: #BCF3F6;
}

/**/
/*Font Size*/
.font-s-2{
    font-size: 2rem;
}
.font-s-3{
    font-size: 3rem;
}
.font-s-4{
    font-size: 4rem;
}
.font-s-5{
    font-size: 5rem;
}
/**/
.btn-primary {
    color: #FFF !important;
    background-color: #1c7695 !important;
    border-color: #1c7695 !important;
    font-weight: bold;
    min-width: 200px;
    padding: 10px 15px;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #33b3ba !important;
    border-color: #33b3ba !important;
    box-shadow: 0px 0px 5px inset#ffffff;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0px 0px 15px inset #43f1fa;
}

#landing-page p {
    font-size: 20px;
    text-align: justify;
}

#landing-page hr, .dropdown-divider {
    border-top: 1px solid rgb(101, 226, 224, 0.5);
}

.link-mirar {
    font-size: 16px;
    color: #64e1df;
}

.filter-opacity:hover {
    filter: opacity(.8);
}


#page-signin .box-sign,
#page-login .box-sign,
#page-contact .box {
    width: 750px;
    max-width: 100%;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
}

.label-input {
    width: 500px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.input-sign {
    max-height: 2.5rem;
    font-weight: 500;
    border-radius: 10px;
}

.input-sign:focus, .custom-textarea:focus{
    border-color:  rgb(100, 225, 223);
    box-shadow: 0 0 0 0.2rem rgba(100, 225, 223,.25);
}

#page-contact .input-sign{
    border-radius: 0px;
}

.input-sign,
.label-form,
.custom-select {
    font-size: 18px;
}

.input-sign::placeholder,
.input-sign::-ms-input-placeholder,
.input-sign:-ms-input-placeholder {
    color: #C1D1D2;
}

.custom-select {
    background-color: #fff;
    color: #585c5c;
    padding: 7px 15px;
    text-align: center;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#page-signin .btn-primary,
#page-login .btn-primary {
    width: 45%;
}

.div-link-help{
    width: 500px;
    max-width: 90%;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid  #9BA3A4;
}
.div-link-help:hover{
    background-color: #32B1BB;
    border: 1px solid  #FFF;
    box-shadow: 0px 0px 8px inset #FFF ;
    transition: all 0.5s ease-in-out;
}
.div-link-help:hover .custom-lightBlue,
.div-link-help:hover .custom-boldBlue,
.div-link-help:hover .custom-gray{
    color: #FFF !important;
}

/**/
/***Extra small devices (portrait phones, less than 576px)***/
@media (max-width: 575.98px) {
    .w-xs-100 {
        width: 100%;
    }

    #landing-page .box {
        width: 100%;
    }
}

/***Small devices (landscape phones, 576px and up)***/
@media (min-width: 576px) {
    .w-sm-100 {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

/***Medium devices (tablets, 768px and up)***/
@media (min-width: 768px) and (max-width: 991.98px) {}

/***Large devices (desktops, 992px and up)***/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/***Extra large devices (large desktops, 1200px and up)***/
@media (min-width: 1200px) {}