<h2 class="text-center text-sm-left mb-3"><b>Empresas</b></h2>
<p class="custom-gray mb-5">
  ¡Mira lo que ofrecen las empresas ya registradas!
  <a class="link-mirar custom-lightBlue ml-2" [routerLink]="'/companies'"><b>Mirar Aquí</b></a>
</p>
<div class="row">
  <ng-container *ngFor="let empresa of muestraEmpresas">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
      <a [routerLink]="'/companies'">
        <div class="card">
          <ng-container *ngIf="empresa.imagenSitio == null">
            <img class="img-fluid filter-opacity"
              src="../../../../assets/companies/images/defaultImageCompany.png" alt="Card image">
          </ng-container>
          <ng-container *ngIf="empresa.imagenSitio != null">
            <img class="card-img-top img-fluid filter-opacity"
              src="../../../../assets/{{empresa.imagenSitio}}" alt="Card image">
          </ng-container>
        </div>
      </a>
    </div>
  </ng-container>
</div>
