<h2 class="text-center text-sm-left mb-3"><b>Empresas</b></h2>
<p class="custom-gray mb-5">
  ¡Mira lo que ofrecen las empresas ya registradas!
  <a class="link-mirar custom-lightBlue ml-2" [routerLink]="'/companies'"><b>Mirar Aquí</b></a>
</p>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-1.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-1.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-1.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-1.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-2.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-2.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-2.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-2.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-3.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-3.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-3.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
    <a [routerLink]="'/companies'">
      <div class="card">
        <img class="img-fluid filter-opacity" src="../../../../assets/images/ejemplo-empresa-3.jpg" alt="">
      </div>
    </a>
  </div>
</div>
