<div class="bg-black text-white">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row mb-5 pt-5">
      <div class="col-12">
        <div class="text-center">
          <h1><b>404: Page Not Found</b></h1>
        </div>
        <div class="text-center">
          <h1>Volver a <a class="link-hover custom-lightBlue" href="./">Inicio</a></h1>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <img class="img-fluid" src="../../../assets/images/404-NotFound.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
