<div class="bg-black pt-5">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-12">
        <div class="text-center">
          <h1 class="custom-white"><b>404: Page Not Found</b></h1>
        </div>
        <div class="text-center">
          <h2 class="custom-white">Volver a <a class="link-hover custom-lightBlue" [routerLink]="'/home'">Inicio</a></h2>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <img class="img-fluid" src="../../../assets/images/404-NotFound.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
